section#careers {
	background: $brown;

	h2 {
		text-transform: lowercase;
		font-variant: small-caps;
		letter-spacing: 0.05em;
		font-size: 1.5em;

		@include tablet-portrait {
			transform: translateY(-3px);
			width: 33.3333%;

			span {
				display: inline;
			}
		}

		@include tablet-landscape {
			width: auto;
			margin: 0 20px 0 0;
		}
	}

	p {
		font-size: 0.9375em;
		font-style: italic;
	}
}

footer {
	background: $brown;
}

section#comment-card {
	.header {
		h3 {
			font-size: 2.5em;
			color: $brown;
		}

		p {
			font-size: 0.875em;
		}
	}

	.form {
		label {
			font-size: 0.8125em;
			letter-spacing: 0.2em;
			font-weight: bold;
			color: $brown;

			&.wpforms-field-sublabel {
				letter-spacing: 0;
				color: $brown;
			}
		}

		div.wpforms-container-full .wpforms-form .wpforms-field-description {
			font-size: 0.875em;
		}

		div.wpforms-container-full .wpforms-form .wpforms-required-label {
			color: $rust;
		}

		div.wpforms-container-full .wpforms-form button[type=submit] {
			border-radius: 2px;
			padding: 14px 20px 11px 20px;
			color: $white;
			background: $brown;
			border: none;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			font-size: 0.875em;
		}
	}
}