section#announcement {
	padding: 15px 0;
	background: $brown;
	color: $white;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);

	.announcement-wrapper {
		max-width: 800px;
		padding: 0 25px;
		margin: 0 auto;

		p {
			font-size: 1.125rem;
		}

		a {
			font-weight: bold;
			color: $white;
		}
	}
}

.header-bg {
	background: $rust;
	border-top: 5px solid #C6A15B;
}

header {
	padding-bottom: 30px;

	@include tablet-portrait {
		padding-bottom: 0;
	}

	.header-wrapper {
		border-color: $white;
		border-width: 1px;
		justify-content: space-between;
	}

	.logo {
		.image {
			a {
				display: block;

				img {
					@include desktop {
						max-width: 200px;
					}
				}
			}
		}
	}

	.info {
		color: $white;

		@include mobile-landscape {
			max-width: 240px;
		}
		

		h3 {
			text-transform: lowercase;
			font-weight: 700;
			font-size: 1.125rem;
		}

		p {
			font-family: $bebas;
			font-size: 0.875rem;
			font-style: normal;
			line-height: 1.75em;

			& + p {
				padding-top: 10px;
			}

			@include desktop {
				font-size: 1em;
			}
		}
	}

	&.status-view {
		.status {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
		}

		.logo {
			width: 100%;

			@include tablet-landscape {
				width: auto;
			}

			.image {
				width: 80%;

				@include tablet-landscape {
					width: 100%;

				}
			
				img {
					margin: 0;					
					transform: none;
					max-width: 200px;

					@include tablet-portrait {
						margin: 0;
						max-width: 300px;
					}

					@include desktop {
						max-width: 300px;
					}
				}		
			}	
		}


		.message {
			color: $white;
			width: 100%;
			flex: 1;
			text-align: center;
			padding-top: 25px;

			@include tablet-landscape {
				padding-left: 50px;
				text-align: left;
				width: auto;
				padding-top: 0;
			}

			.headline {
				padding-bottom: 10px;

				h2 {
					font-weight: 700;
					font-size: 1.75rem;
					font-family: $bebas;
					text-transform: uppercase;
					letter-spacing: 0.05em;

					@include desktop {
						font-size: 2rem;
					}
				}
			}

			.copy {
				p {
					font-size: 1.125rem;
					font-style: normal;
					line-height: 1.75em;
					text-transform: none;

					& + p {
						padding-top: 10px;
					}

					@include desktop {
						font-size: 1.25rem;
					}
				}
			}
		}
	}

}

nav.desktop {
	@include tablet-portrait {
		padding: 25px 0;
	}	

	.hrg-links {
		display: none;
	}

	.social {
		height: 24px;
		padding-top: 8px;
		top: -15px;

		@include tablet-landscape {
			top: 0;
		}
	}

	.main-nav {
		a {
			font-size: 1.125rem;
			line-height: 1em;
			text-transform: lowercase;
			color: $white;
			font-weight: 400;
			letter-spacing: 0;

			&:after {
				padding: 0 20px;
				font-weight: bold;
				font-size: 1.5rem;
				transform: translateY(3px);

				@include desktop {
					padding: 0 40px;
				}
			}

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

nav.mobile {

	@include tablet-portrait {
		padding-bottom: 20px;
	}

	.main-nav {
		a {
			font-size: 1.25em;
			font-weight: 400;
			color: $white;
			padding: 20px 0;
			display: block;
			text-transform: lowercase;
			letter-spacing: 0;
			
			&:hover {
				text-decoration: underline;
			}
		}

		@include tablet-portrait {
			display: flex;
			justify-content: center;

			a {
				padding: 0;
				font-size: 1rem;

				&:after {
					content: "·";
					display: inline-block;
					padding: 0 20px;
				}

				&:last-of-type {
					&:after {
						display: none;
					}
				}
			}
		}

	}
}

section.call-to-actions {

	.wrapper {
		display: flex;
		align-items: center;
		justify-content: center;

		& > * {
			padding: 0;
		}
	}

	.btn {
		& + .btn {
			padding-top: 25px;

			@include tablet-portrait {
				padding-top: 0;
				padding-left: 50px;
			}
		}

		a {
			border-color: $white;
			background: transparent;
			color: $white;
			border-radius: 5px;
			text-transform: lowercase;
			font-size: 1rem;
			font-family: $plantin;
			padding: 10px 30px 10px;
			font-weight: 400;
			white-space: nowrap;

			&:hover {
				background: $white;
				color: $rust;
			}
		}
	}

	#ot-reservation-widget {
		width: auto;
		padding: 0;
	}

	.ot-powered-by {
		display: none;
	}

	.ot-button {
		border-color: $white;
		background: transparent;
		color: $white;
		border-radius: 5px;
		text-transform: lowercase;
		font-family: $plantin !important;
		width: auto;
		display: inline-block;
		font-size: 1rem;
		font-weight: 400;
		padding: 10px 20px 10px !important;
		white-space: nowrap;
		line-height: 1em;

		@include tablet-portrait {
			font-size: 0.8125rem;
		}

		@include tablet-landscape {
			font-size: 1rem;
		}

		&:hover {
			background: $white;
			color: $rust;
		}

	}

	.text {
		padding: 0;

		p {
			font-style: italic;
			font-family: $plantin;
			color: $white;
			letter-spacing: 0.02em;
			font-size: 1.125rem;
		}

		@include tablet-portrait {
			width: 100%;
			padding: 25px 0;
		}

		@include tablet-landscape {
			width: auto;
			padding: 0 25px;
		}

		& + .btn {
			padding-top: 25px;

			@include tablet-portrait {
				padding-top: 0;
				padding-left: 50px;
			}

			@include desktop {
				padding-left: 50px;
			}
		}
	}
}

#toggle {

	.patty {
	    background: $white;

		&:after, &:before {
		    background: $white;
		}

	}
}