body.page-template-location {

	section.location {
		padding: 40px 0;

		@include tablet-portrait {
			padding: 80px 0;
		}


		.section-header {
			padding: 0 0 40px 0;
			text-align: left;

			h1 {
				&:after {
					margin: 20px 0 0 0;
				}

			}
		}

		.section-body {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.info {
				width: 100%;

				@include tablet-portrait {
					width: calc(40% - 25px);
				}

				h3 {
					text-transform: uppercase;
					letter-spacing: 0.1em;
					font-size: 1.5em;
					line-height: 1.25em;
					font-weight: bold;
					padding: 0;
					font-family: $bebas;
					text-transform: uppercase;
					letter-spacing: 0.05em;
					color: $brown;

					@include tablet-portrait {
						max-width: 420px;
					}
				}

				p {
					font-weight: 100;
					font-size: 1em;
					line-height: 1.5em;
					padding: 0 0 40px 0;
					text-transform: lowercase;

					& + p {
						margin-top: -20px;
					}

					@include tablet-portrait {
						font-size: 1.25em;
					}

					&:last-of-type {
						padding: 0;
					}


					a {
						color: $red;
						text-decoration: underline;

						&:hover {
							text-decoration: underline;
						}						
					}

				}

			}

			.photo {
				width: 100%;
				padding-top: 20px;

				@include tablet-portrait {
					width: calc(60% - 25px);
					padding: 0;
				}
			}


			.map {
				padding: 20px 0 0 0;
				width: 100%;

				@include tablet-portrait {
					padding: 40px 0 0 0;
				}

				a {
					display: block;

					&:hover {
						cursor: pointer;
					}
				}
			}
		}
	}	
}