body {
	background: $cream;
}

.section-header {
	padding: 40px 0 40px 0;
	text-align: center;

	h1 {
		font-size: 2em;
		font-family: $bebas;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		color: $rust;

		&:after {
			content: '';
			display: block;
			width: 40px;
			height: 2px;
			background: $rust;
			margin: 20px auto 0 auto;
		}
		
		@include tablet-portrait {
			font-size: 4em;
		}
	}
}

