/* Colors
----------------------------------*/
$white: #fff;
$off-white: #fafafa;
$light-gray: #eee;
$charcoal: #4a4a4a;
$slate: #2a2a2a;
$black: #000;

$red: #9a2e37;
$rust: #924531;
$brown: #231f20;
$gold: #C6A15B;
$silver: #E5E7E6;
$cream: #FDFEFC;


/* Typography
----------------------------------*/
@import url("https://use.typekit.net/tzf6fav.css");

$bebas: bebas-neue-pro, sans-serif;
$plantin: plantin, sans-serif;
