@charset "UTF-8";
/*

    ----------------------------------------------------------------------
                                01 Global
    ----------------------------------------------------------------------

*/
/* Colors
----------------------------------*/
/* Typography
----------------------------------*/
@import url("https://use.typekit.net/tzf6fav.css");
/* Media Queries
----------------------------------*/
/* Selection  */
::-moz-selection {
  background: #924531;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #924531;
  color: #fff;
  text-shadow: none; }

body {
  background: #FDFEFC; }

.section-header {
  padding: 40px 0 40px 0;
  text-align: center; }
  .section-header h1 {
    font-size: 2em;
    font-family: bebas-neue-pro, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #924531; }
    .section-header h1:after {
      content: '';
      display: block;
      width: 40px;
      height: 2px;
      background: #924531;
      margin: 20px auto 0 auto; }
    @media screen and (min-width: 768px) {
      .section-header h1 {
        font-size: 4em; } }

body, input, textarea {
  color: #231f20;
  font: 400 100%/1 plantin, sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: plantin, sans-serif; }

a {
  color: #231f20;
  transition: all 0.2s ease-in-out; }

/*

    ----------------------------------------------------------------------
                                02 Sections
    ----------------------------------------------------------------------

*/
section#announcement {
  padding: 15px 0;
  background: #231f20;
  color: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15); }
  section#announcement .announcement-wrapper {
    max-width: 800px;
    padding: 0 25px;
    margin: 0 auto; }
    section#announcement .announcement-wrapper p {
      font-size: 1.125rem; }
    section#announcement .announcement-wrapper a {
      font-weight: bold;
      color: #fff; }

.header-bg {
  background: #924531;
  border-top: 5px solid #C6A15B; }

header {
  padding-bottom: 30px; }
  @media screen and (min-width: 768px) {
    header {
      padding-bottom: 0; } }
  header .header-wrapper {
    border-color: #fff;
    border-width: 1px;
    justify-content: space-between; }
  header .logo .image a {
    display: block; }
    @media screen and (min-width: 1280px) {
      header .logo .image a img {
        max-width: 200px; } }
  header .info {
    color: #fff; }
    @media screen and (min-width: 568px) {
      header .info {
        max-width: 240px; } }
    header .info h3 {
      text-transform: lowercase;
      font-weight: 700;
      font-size: 1.125rem; }
    header .info p {
      font-family: bebas-neue-pro, sans-serif;
      font-size: 0.875rem;
      font-style: normal;
      line-height: 1.75em; }
      header .info p + p {
        padding-top: 10px; }
      @media screen and (min-width: 1280px) {
        header .info p {
          font-size: 1em; } }
  header.status-view .status {
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
  header.status-view .logo {
    width: 100%; }
    @media screen and (min-width: 1024px) {
      header.status-view .logo {
        width: auto; } }
    header.status-view .logo .image {
      width: 80%; }
      @media screen and (min-width: 1024px) {
        header.status-view .logo .image {
          width: 100%; } }
      header.status-view .logo .image img {
        margin: 0;
        transform: none;
        max-width: 200px; }
        @media screen and (min-width: 768px) {
          header.status-view .logo .image img {
            margin: 0;
            max-width: 300px; } }
        @media screen and (min-width: 1280px) {
          header.status-view .logo .image img {
            max-width: 300px; } }
  header.status-view .message {
    color: #fff;
    width: 100%;
    flex: 1;
    text-align: center;
    padding-top: 25px; }
    @media screen and (min-width: 1024px) {
      header.status-view .message {
        padding-left: 50px;
        text-align: left;
        width: auto;
        padding-top: 0; } }
    header.status-view .message .headline {
      padding-bottom: 10px; }
      header.status-view .message .headline h2 {
        font-weight: 700;
        font-size: 1.75rem;
        font-family: bebas-neue-pro, sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.05em; }
        @media screen and (min-width: 1280px) {
          header.status-view .message .headline h2 {
            font-size: 2rem; } }
    header.status-view .message .copy p {
      font-size: 1.125rem;
      font-style: normal;
      line-height: 1.75em;
      text-transform: none; }
      header.status-view .message .copy p + p {
        padding-top: 10px; }
      @media screen and (min-width: 1280px) {
        header.status-view .message .copy p {
          font-size: 1.25rem; } }

@media screen and (min-width: 768px) {
  nav.desktop {
    padding: 25px 0; } }

nav.desktop .hrg-links {
  display: none; }

nav.desktop .social {
  height: 24px;
  padding-top: 8px;
  top: -15px; }
  @media screen and (min-width: 1024px) {
    nav.desktop .social {
      top: 0; } }

nav.desktop .main-nav a {
  font-size: 1.125rem;
  line-height: 1em;
  text-transform: lowercase;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0; }
  nav.desktop .main-nav a:after {
    padding: 0 20px;
    font-weight: bold;
    font-size: 1.5rem;
    transform: translateY(3px); }
    @media screen and (min-width: 1280px) {
      nav.desktop .main-nav a:after {
        padding: 0 40px; } }
  nav.desktop .main-nav a:hover {
    text-decoration: underline; }

@media screen and (min-width: 768px) {
  nav.mobile {
    padding-bottom: 20px; } }

nav.mobile .main-nav a {
  font-size: 1.25em;
  font-weight: 400;
  color: #fff;
  padding: 20px 0;
  display: block;
  text-transform: lowercase;
  letter-spacing: 0; }
  nav.mobile .main-nav a:hover {
    text-decoration: underline; }

@media screen and (min-width: 768px) {
  nav.mobile .main-nav {
    display: flex;
    justify-content: center; }
    nav.mobile .main-nav a {
      padding: 0;
      font-size: 1rem; }
      nav.mobile .main-nav a:after {
        content: "·";
        display: inline-block;
        padding: 0 20px; }
      nav.mobile .main-nav a:last-of-type:after {
        display: none; } }

section.call-to-actions .wrapper {
  display: flex;
  align-items: center;
  justify-content: center; }
  section.call-to-actions .wrapper > * {
    padding: 0; }

section.call-to-actions .btn + .btn {
  padding-top: 25px; }
  @media screen and (min-width: 768px) {
    section.call-to-actions .btn + .btn {
      padding-top: 0;
      padding-left: 50px; } }

section.call-to-actions .btn a {
  border-color: #fff;
  background: transparent;
  color: #fff;
  border-radius: 5px;
  text-transform: lowercase;
  font-size: 1rem;
  font-family: plantin, sans-serif;
  padding: 10px 30px 10px;
  font-weight: 400;
  white-space: nowrap; }
  section.call-to-actions .btn a:hover {
    background: #fff;
    color: #924531; }

section.call-to-actions #ot-reservation-widget {
  width: auto;
  padding: 0; }

section.call-to-actions .ot-powered-by {
  display: none; }

section.call-to-actions .ot-button {
  border-color: #fff;
  background: transparent;
  color: #fff;
  border-radius: 5px;
  text-transform: lowercase;
  font-family: plantin, sans-serif !important;
  width: auto;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  padding: 10px 20px 10px !important;
  white-space: nowrap;
  line-height: 1em; }
  @media screen and (min-width: 768px) {
    section.call-to-actions .ot-button {
      font-size: 0.8125rem; } }
  @media screen and (min-width: 1024px) {
    section.call-to-actions .ot-button {
      font-size: 1rem; } }
  section.call-to-actions .ot-button:hover {
    background: #fff;
    color: #924531; }

section.call-to-actions .text {
  padding: 0; }
  section.call-to-actions .text p {
    font-style: italic;
    font-family: plantin, sans-serif;
    color: #fff;
    letter-spacing: 0.02em;
    font-size: 1.125rem; }
  @media screen and (min-width: 768px) {
    section.call-to-actions .text {
      width: 100%;
      padding: 25px 0; } }
  @media screen and (min-width: 1024px) {
    section.call-to-actions .text {
      width: auto;
      padding: 0 25px; } }
  section.call-to-actions .text + .btn {
    padding-top: 25px; }
    @media screen and (min-width: 768px) {
      section.call-to-actions .text + .btn {
        padding-top: 0;
        padding-left: 50px; } }
    @media screen and (min-width: 1280px) {
      section.call-to-actions .text + .btn {
        padding-left: 50px; } }

#toggle .patty {
  background: #fff; }
  #toggle .patty:after, #toggle .patty:before {
    background: #fff; }

section#careers {
  background: #231f20; }
  section#careers h2 {
    text-transform: lowercase;
    font-variant: small-caps;
    letter-spacing: 0.05em;
    font-size: 1.5em; }
    @media screen and (min-width: 768px) {
      section#careers h2 {
        transform: translateY(-3px);
        width: 33.3333%; }
        section#careers h2 span {
          display: inline; } }
    @media screen and (min-width: 1024px) {
      section#careers h2 {
        width: auto;
        margin: 0 20px 0 0; } }
  section#careers p {
    font-size: 0.9375em;
    font-style: italic; }

footer {
  background: #231f20; }

section#comment-card .header h3 {
  font-size: 2.5em;
  color: #231f20; }

section#comment-card .header p {
  font-size: 0.875em; }

section#comment-card .form label {
  font-size: 0.8125em;
  letter-spacing: 0.2em;
  font-weight: bold;
  color: #231f20; }
  section#comment-card .form label.wpforms-field-sublabel {
    letter-spacing: 0;
    color: #231f20; }

section#comment-card .form div.wpforms-container-full .wpforms-form .wpforms-field-description {
  font-size: 0.875em; }

section#comment-card .form div.wpforms-container-full .wpforms-form .wpforms-required-label {
  color: #924531; }

section#comment-card .form div.wpforms-container-full .wpforms-form button[type=submit] {
  border-radius: 2px;
  padding: 14px 20px 11px 20px;
  color: #fff;
  background: #231f20;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.875em; }

body.page-template-default section.standard {
  padding: 40px 0; }
  @media screen and (min-width: 768px) {
    body.page-template-default section.standard {
      padding: 80px 0; } }
  body.page-template-default section.standard .wrapper {
    max-width: 960px; }
  body.page-template-default section.standard .section-header {
    padding: 0 0 40px 0; }
  body.page-template-default section.standard .section-body h3 {
    font-weight: bold;
    font-size: 1.375em;
    padding: 0 0 10px 0; }
    @media screen and (min-width: 768px) {
      body.page-template-default section.standard .section-body h3 {
        font-size: 1.5em; } }
  body.page-template-default section.standard .section-body p {
    font-weight: 100;
    font-size: 1em;
    line-height: 1.5em;
    padding: 0 0 40px 0; }
    @media screen and (min-width: 768px) {
      body.page-template-default section.standard .section-body p {
        font-size: 1.25em; } }

.popup {
  top: -44px;
  left: -10px; }
  @media screen and (min-width: 1024px) {
    .popup {
      top: -50px;
      left: -8px; } }
  .popup-link, .popup-trigger {
    background: #924531;
    color: #fff;
    font-size: 0.8125rem;
    text-transform: lowercase;
    border: 1px solid #fff;
    box-shadow: none !important; }
    .popup-link span, .popup-trigger span {
      display: block;
      transform: rotate(-10deg); }

.popup-overlay .close {
  color: #924531; }

.popup-overlay .info .headline h3 {
  font-size: 1.5rem;
  color: #924531; }
  @media screen and (min-width: 768px) {
    .popup-overlay .info .headline h3 {
      font-size: 1.75rem; } }

.popup-overlay .info .sub-headline h4 {
  color: #2a2a2a; }

.popup-overlay .info .copy p {
  color: #2a2a2a; }

.popup-overlay .info .btn a {
  font-size: 1.125rem;
  color: #924531; }

section#heavy-at-home .overlay {
  background: rgba(203, 164, 74, 0.5); }
  section#heavy-at-home .overlay-wrapper {
    border: 5px solid #924531;
    background: #fff; }

section#heavy-at-home .info .headline h1 {
  color: #924531;
  text-transform: lowercase; }
  @media screen and (min-width: 768px) {
    section#heavy-at-home .info .headline h1 {
      font-size: 5rem; } }

section#heavy-at-home .info .copy p {
  line-height: 1.375em;
  color: #231f20; }
  @media screen and (min-width: 768px) {
    section#heavy-at-home .info .copy p {
      font-size: 1.5rem; } }
  section#heavy-at-home .info .copy p a {
    color: #231f20; }

section#heavy-at-home .info .cta .btn {
  color: #924531; }
  section#heavy-at-home .info .cta .btn:hover {
    background: #924531;
    border-color: #924531; }

/*

    ----------------------------------------------------------------------
                                03 Templates
    ----------------------------------------------------------------------

*/
body.home section#hero {
  position: relative; }
  body.home section#hero:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 50%; }
  body.home section#hero > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  @media screen and (min-width: 568px) {
    body.home section#hero {
      max-height: 900px; } }

body.home section#main {
  padding: 50px 0; }
  body.home section#main .wrapper {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(1, 1fr); }
    @media screen and (min-width: 568px) {
      body.home section#main .wrapper {
        grid-template-columns: repeat(2, 1fr); } }
    @media screen and (min-width: 768px) {
      body.home section#main .wrapper {
        grid-template-columns: repeat(3, 1fr); } }
  body.home section#main .inset {
    grid-column: 1/-1;
    position: relative; }
    body.home section#main .inset:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 37.5%; }
    body.home section#main .inset > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
  body.home section#main .photo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  @media screen and (min-width: 568px) {
    body.home section#main .info {
      grid-column: 1/-1; } }
  @media screen and (min-width: 768px) {
    body.home section#main .info {
      grid-column: 1/2; } }
  body.home section#main .info .headline {
    padding-bottom: 10px; }
    body.home section#main .info .headline h2 {
      color: #9a2e37;
      font-family: bebas-neue-pro, sans-serif;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 1em;
      text-transform: uppercase;
      letter-spacing: 0.05em; }
      @media screen and (min-width: 768px) {
        body.home section#main .info .headline h2 {
          font-size: 2.5rem; } }
  body.home section#main .info .copy p {
    font-size: 1.25rem;
    line-height: 1.5em;
    text-transform: none; }
    @media screen and (min-width: 568px) {
      body.home section#main .info .copy p {
        font-size: 1.5rem; } }
    body.home section#main .info .copy p + p {
      padding-top: 20px; }
  body.home section#main .hours .photo,
  body.home section#main .location .photo {
    position: relative; }
    body.home section#main .hours .photo:before,
    body.home section#main .location .photo:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 56.25%; }
    body.home section#main .hours .photo > .content,
    body.home section#main .location .photo > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
  body.home section#main .hours .details,
  body.home section#main .location .details {
    padding-top: 30px; }
    body.home section#main .hours .details h3,
    body.home section#main .location .details h3 {
      text-align: center;
      color: #9a2e37;
      border-top: 2px solid;
      border-bottom: 2px solid;
      padding: 15px 0;
      font-size: 1.5rem;
      font-family: bebas-neue-pro, sans-serif;
      font-weight: 400;
      line-height: 1em;
      text-transform: uppercase;
      letter-spacing: 0.05em; }
    body.home section#main .hours .details p,
    body.home section#main .location .details p {
      font-weight: 100;
      padding-top: 10px;
      text-align: center;
      line-height: 2em;
      font-size: 1.5rem;
      text-transform: lowercase; }

body.page-template-hours section.standard {
  padding: 40px 0; }
  @media screen and (min-width: 768px) {
    body.page-template-hours section.standard {
      padding: 80px 0; } }
  body.page-template-hours section.standard .wrapper {
    max-width: 400px; }
    @media screen and (min-width: 768px) {
      body.page-template-hours section.standard .wrapper {
        max-width: 600px; } }
    @media screen and (min-width: 1024px) {
      body.page-template-hours section.standard .wrapper {
        max-width: 400px;
        padding: 0; } }
  body.page-template-hours section.standard .section-header {
    padding: 0 0 40px 0; }
  body.page-template-hours section.standard .section-body .hours {
    text-align: center; }
    body.page-template-hours section.standard .section-body .hours h3 {
      text-transform: uppercase;
      letter-spacing: 0.2em;
      font-size: 0.875em;
      line-height: 1.25em;
      font-weight: bold;
      padding: 0 0 10px 0; }
    body.page-template-hours section.standard .section-body .hours p {
      font-weight: 100;
      font-size: 1.25em;
      line-height: 1.25em;
      padding: 0 0 40px 0; }
      @media screen and (min-width: 768px) {
        body.page-template-hours section.standard .section-body .hours p {
          font-size: 1.75em; } }
      body.page-template-hours section.standard .section-body .hours p:last-of-type {
        padding: 0; }

body.page-template-gallery .jp-carousel-info {
  display: none; }

body.page-template-gallery .jp-carousel-overlay {
  opacity: 0.98 !important; }

body.page-template-gallery .jp-carousel-close-hint span {
  font-size: 48px !important;
  height: 48px; }

body.page-template-gallery section.gallery {
  padding: 40px 0; }
  body.page-template-gallery section.gallery .section-header {
    padding: 0 0 40px 0; }
    body.page-template-gallery section.gallery .section-header h1 {
      font-weight: normal;
      font-size: 2em;
      border-bottom: 4px solid;
      padding: 0 0 5px 0;
      display: inline-block;
      text-align: center; }
      @media screen and (min-width: 768px) {
        body.page-template-gallery section.gallery .section-header h1 {
          font-size: 3em; } }

body.page-template-menu .menu-item .info a.title {
  font-size: 1.5em;
  color: #9a2e37;
  text-transform: lowercase; }

body.page-template-location section.location {
  padding: 40px 0; }
  @media screen and (min-width: 768px) {
    body.page-template-location section.location {
      padding: 80px 0; } }
  body.page-template-location section.location .section-header {
    padding: 0 0 40px 0;
    text-align: left; }
    body.page-template-location section.location .section-header h1:after {
      margin: 20px 0 0 0; }
  body.page-template-location section.location .section-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    body.page-template-location section.location .section-body .info {
      width: 100%; }
      @media screen and (min-width: 768px) {
        body.page-template-location section.location .section-body .info {
          width: calc(40% - 25px); } }
      body.page-template-location section.location .section-body .info h3 {
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 1.5em;
        line-height: 1.25em;
        font-weight: bold;
        padding: 0;
        font-family: bebas-neue-pro, sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        color: #231f20; }
        @media screen and (min-width: 768px) {
          body.page-template-location section.location .section-body .info h3 {
            max-width: 420px; } }
      body.page-template-location section.location .section-body .info p {
        font-weight: 100;
        font-size: 1em;
        line-height: 1.5em;
        padding: 0 0 40px 0;
        text-transform: lowercase; }
        body.page-template-location section.location .section-body .info p + p {
          margin-top: -20px; }
        @media screen and (min-width: 768px) {
          body.page-template-location section.location .section-body .info p {
            font-size: 1.25em; } }
        body.page-template-location section.location .section-body .info p:last-of-type {
          padding: 0; }
        body.page-template-location section.location .section-body .info p a {
          color: #9a2e37;
          text-decoration: underline; }
          body.page-template-location section.location .section-body .info p a:hover {
            text-decoration: underline; }
    body.page-template-location section.location .section-body .photo {
      width: 100%;
      padding-top: 20px; }
      @media screen and (min-width: 768px) {
        body.page-template-location section.location .section-body .photo {
          width: calc(60% - 25px);
          padding: 0; } }
    body.page-template-location section.location .section-body .map {
      padding: 20px 0 0 0;
      width: 100%; }
      @media screen and (min-width: 768px) {
        body.page-template-location section.location .section-body .map {
          padding: 40px 0 0 0; } }
      body.page-template-location section.location .section-body .map a {
        display: block; }
        body.page-template-location section.location .section-body .map a:hover {
          cursor: pointer; }

body.page-template-group-dining section.standard {
  padding: 50px 0 50px 0; }

body.page-template-group-dining .section-header {
  padding-bottom: 20px; }

body.page-template-group-dining .links {
  display: flex;
  justify-content: center; }
  body.page-template-group-dining .links div + div {
    margin-left: 20px; }

body.page-template-group-dining .gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px; }
  @media screen and (min-width: 768px) {
    body.page-template-group-dining .gallery {
      grid-template-columns: 1fr 1fr 1fr; } }
  body.page-template-group-dining .gallery img {
    margin: 0 auto; }

body.page-template-group-dining .group-dining-description {
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0; }
  body.page-template-group-dining .group-dining-description p {
    font-size: 1.375em;
    line-height: 1.25em; }
    body.page-template-group-dining .group-dining-description p + p {
      padding-top: 20px; }

body.page-template-group-dining .form-link,
body.page-template-group-dining .menu-link {
  display: flex;
  justify-content: center;
  padding-bottom: 40px; }
  body.page-template-group-dining .form-link .btn a,
  body.page-template-group-dining .menu-link .btn a {
    display: inline-block;
    border-color: #924531;
    background: #924531;
    color: #fafafa;
    border-radius: 5px;
    text-transform: lowercase;
    font-size: 1.5em;
    padding: 13px 25px 11px;
    font-weight: 700; }

body.page-template-group-dining div.wpforms-container-full {
  max-width: 600px;
  width: 100%;
  margin: 0 auto; }

body.page-template-group-dining .wpforms-description {
  font-size: 1em;
  line-height: 1.5em; }

body.page-template-group-dining .wpforms-field-divider {
  padding-top: 30px !important;
  padding-bottom: 12px;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px; }
  body.page-template-group-dining .wpforms-field-divider h3 {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: lowercase;
    color: #231f20;
    padding: 0 !important; }

body.page-template-group-dining div.wpforms-container-full .wpforms-form input.wpforms-field-medium,
body.page-template-group-dining div.wpforms-container-full .wpforms-form select.wpforms-field-medium,
body.page-template-group-dining div.wpforms-container-full .wpforms-form .wpforms-field-row.wpforms-field-medium {
  max-width: 100%; }

body.page-template-group-dining .wpforms-field-container-full {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  body.page-template-group-dining .wpforms-field-container-full > * {
    width: 100%; }
  @media screen and (min-width: 768px) {
    body.page-template-group-dining .wpforms-field-container-full .wpforms-field-email,
    body.page-template-group-dining .wpforms-field-container-full .wpforms-field-phone,
    body.page-template-group-dining .wpforms-field-container-full .wpforms-field-date-time {
      width: calc(50% - 10px); } }

body.page-template-group-dining div.wpforms-container-full .wpforms-form .wpforms-field-description {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 10px 0; }

body.page-template-group-dining div.wpforms-container-full .wpforms-form .wpforms-field-label {
  font-size: 1.125em; }

body.page-template-group-dining div.wpforms-container-full .wpforms-form .wpforms-field-sublabel {
  font-size: 1em; }

body.page-template-group-dining div.wpforms-container-full .wpforms-form label.wpforms-error {
  padding-top: 5px;
  font-size: 1em; }

body.page-template-group-dining div.wpforms-container-full .wpforms-form button[type=submit] {
  background: #2a2a2a;
  color: #fff;
  text-transform: lowercase;
  font-weight: bold;
  font-size: 1.125em;
  padding: 15px 30px 11px 30px;
  border-radius: 10px;
  display: inline-block;
  border: none;
  transition: all 0.2s ease-in; }
  body.page-template-group-dining div.wpforms-container-full .wpforms-form button[type=submit]:hover {
    background: #924531; }
  @media screen and (min-width: 1024px) {
    body.page-template-group-dining div.wpforms-container-full .wpforms-form button[type=submit] {
      font-size: 1.5em; } }

body.page-template-marketplace section.marketplace {
  padding-bottom: 150px; }
  body.page-template-marketplace section.marketplace .section-header {
    padding-bottom: 100px; }
    body.page-template-marketplace section.marketplace .section-header .description {
      max-width: 860px; }
      body.page-template-marketplace section.marketplace .section-header .description p {
        font-size: 1.375rem;
        line-height: 1.5em;
        font-family: bebas-neue-pro, sans-serif; }
  body.page-template-marketplace section.marketplace section#shop .shop-item .photo a {
    display: block;
    position: relative; }
  body.page-template-marketplace section.marketplace section#shop .shop-item .info a.title {
    font-size: 1.25rem;
    color: #924531;
    text-transform: lowercase; }
  body.page-template-marketplace section.marketplace section#shop .shop-item.coming-soon .photo {
    border: 2px dashed #924531; }
    body.page-template-marketplace section.marketplace section#shop .shop-item.coming-soon .photo .content span {
      color: #924531;
      text-transform: lowercase; }

body.error404 section#main {
  padding: 50px 0;
  min-height: 100vh; }
  @media screen and (min-width: 768px) {
    body.error404 section#main {
      min-height: 75vh;
      padding: 75px 0; } }
  body.error404 section#main h2 {
    font-size: 3.5em;
    padding: 0 0 25px 0; }
    @media screen and (min-width: 768px) {
      body.error404 section#main h2 {
        font-size: 5em; } }
  body.error404 section#main p {
    font-size: 1.5em; }
