section#heavy-at-home {

	.overlay {
		background: rgba(203, 164, 74, 0.5);
		
		&-wrapper {
			border: 5px solid $rust;
			background: $white;
		}
	}

	.info {

		.headline {
			h1 {
				color: $rust;
				text-transform: lowercase;

				@include tablet-portrait {
					font-size: 5rem;
				}
			}
		}

		.copy {
			p {
				line-height: 1.375em;
				color: $brown;

				@include tablet-portrait {
					font-size: 1.5rem;
				}

				a {
					color: $brown;
				}
			}
		}

		.cta {
			.btn {
				color: $rust;

				&:hover {
					background: $rust;
					border-color: $rust;
				}
			}
		}	
	}
}